
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/Symlink/.vs/*
library/Symlink/Symlink/bin/*
library/Symlink/Symlink/obj/*

# ignore PowerShell Studio MetaData
Symlink/Symlink.psproj
Symlink/Symlink.psproj.bak
Symlink/Symlink.psprojs
Symlink/Symlink.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*